@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

:root{
    --black: #202020;
    --dark-gray: #333533;
    --dark-yellow: #ffd100;
    --light-yellow: #ffee32;
    --light-gray: #d6d6d6;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    color: var(--light-gray);
    font-size: 1.6em;
}

body{
    background-color: var(--dark-gray);
    position: relative;
    display: flex;

    z-index: -3;
    overflow: hidden;
}

/*Content - Cards*/
.contentBody{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardGroup{
    width: 994px;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.card{
    background-color: var(--black);
    border-radius: 25px;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
}
.card > h1{
    position: absolute;
    left: 24px;
    top: 16px;
}

.total{
    grid-column: 1 / 5;
    grid-row: 1 / 4;

    animation: start 0.8s ease-out;
}
.total > p{
    font-size: 3em;
    font-weight: 300;
    
    background-clip: -webkit-linear-gradient(top, #ffd100 0%, #ffd00000 100%);
    background: linear-gradient(to bottom, #ffd100 0%, #ffd00000 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.payable{
    grid-column: 5 / 10;
    grid-row: 1 / 4;

    animation: start 0.9s ease-out;
}
.payable > p{
    font-size: 3em;
    font-weight: 300;

    background-clip: -webkit-linear-gradient(top, #d6d6d6 0%, #d6d6d600 100%);
    background: linear-gradient(to bottom, #d6d6d6 0%, #d6d6d600 100%);

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.credit{
    grid-column: 1 / 6;
    grid-row: 4 / 11;

    animation: start 1.2s ease-out;
}
.creditImg{
    width: 200px;
    height: 120px;  
    border-radius: 16px; 
    
    background: linear-gradient(286deg, var(--dark-yellow) 0%, var(--light-yellow) 100%);
    position: relative;

    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.25);
}
.creditImg .dot{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    filter: opacity(75%);
    background-color: var(--light-gray);
    position: absolute;
}
.creditImg > span > h2, p{
    color: var(--dark-gray)
}
.creditImg h2{
    position: absolute;
    bottom: 32px;
    left: 16px;
}
.creditImg p{
    position: absolute;
    bottom: 16px;
    left: 16px;
}
#limit{
    display: none;
}




.extract{
    grid-column: 6 / 10;
    grid-row: 4 / 11;

    animation: start 1.5s ease-out;
}
.extract .extractContent{
    height: 60%;
    width: 80%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.extractContent::-webkit-scrollbar {
    width:12px;  
  }
  
.extractContent::-webkit-scrollbar-track {
    background: var(--dark-gray);
    border-radius: 16px;
}
  
.extractContent::-webkit-scrollbar-thumb {
    background-color: var(--black);    
    border-radius: 32px;      
    border: 3px solid var(--dark-gray); 
}


.operation{
    display: flex;
    flex-direction: row;
    align-items: center; 

    margin-bottom: 16px;   

    position: relative;
}
.operation .iconExtract{
    position: absolute;
    left: 0;
}
.operation .name{
    color: var(--light-gray);
    font-weight: 700;
}
.operation .value{
    color: var(--light-gray);
    font-weight: 400;
}
.operation .description, .date{
    color: #878787;
    font-weight: 200;
}
.operation .left{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 42px;
}
.operation .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    right: 10px;
}



.capitalBalance{
    grid-column: 1 / 10;
    grid-row: 11 / end;

    padding: 50px;
    animation: start 1.8s ease-out;
}


.imgBg{
    width: 100vh;

    filter: opacity(25%);

    position: absolute;
    right: calc( 100vh - 75%);

    z-index: -2;
}


/*KEYFRAMES*/
@keyframes start{
    from{
      transform: translateY(50px);
      opacity: 0;
    }
    to{
      transform: translateY(0);
      opacitity: 1;
    }
  }